## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
0,0,Albany,42.6001,-73.9662,58.17,48,100,2.04,overcast clouds,US,2022-05-02 00:43:19
1,1,Lebu,-37.6167,-73.6500,52.45,90,0,15.10,clear sky,CL,2022-05-02 00:42:42
2,2,Busselton,-33.6500,115.3333,65.37,73,64,2.75,broken clouds,AU,2022-05-02 00:40:57
3,3,Buchanan,5.8808,-10.0467,79.56,86,100,7.27,moderate rain,LR,2022-05-02 00:51:21
4,4,Ushuaia,-54.8000,-68.3000,38.86,81,20,6.91,few clouds,AR,2022-05-02 00:46:30

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
2,2,Busselton,-33.6500,115.3333,65.37,73,64,2.75,broken clouds,AU,2022-05-02 00:40:57
3,3,Buchanan,5.8808,-10.0467,79.56,86,100,7.27,moderate rain,LR,2022-05-02 00:51:21
7,7,Henties Bay,-22.1160,14.2845,62.76,69,0,8.66,clear sky,NaN,2022-05-02 00:51:23
10,10,Victoria,22.2855,114.1577,64.26,92,100,8.99,light rain,HK,2022-05-02 00:48:31
12,12,Paita,-5.0892,-81.1144,67.93,83,83,13.44,broken clouds,PE,2022-05-02 00:47:27
16,16,Kaitangata,-46.2817,169.8464,62.22,63,33,4.97,scattered clouds,NZ,2022-05-02 00:51:25
17,17,Saint-Philippe,-21.3585,55.7679,73.22,84,0,2.89,clear sky,RE,2022-05-02 00:48:17
18,18,Rikitea,-23.1203,-134.9692,76.59,70,100,6.20,overcast clouds,PF,2022-05-02 00:45:37
21,21,Christchurch,-43.5333,172.6333,69.94,63,4,4.61,clear sky,NZ,2022-05-02 00:49:54
28,28,Kefalos,36.7453,26.9589,62.82,72,20,11.50,few clouds,GR,2022-05-02 00:51:30

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Country                4
Date                   0
dtype: int64

In [17]:
preferred_cities_df.notnull().sum()

City_ID                301
City                   301
Lat                    301
Lng                    301
Max Temp               301
Humidity               301
Cloudiness             301
Wind Speed             301
Current Description    301
Country                297
Date                   301
dtype: int64

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
2,2,Busselton,-33.6500,115.3333,65.37,73,64,2.75,broken clouds,AU,2022-05-02 00:40:57
3,3,Buchanan,5.8808,-10.0467,79.56,86,100,7.27,moderate rain,LR,2022-05-02 00:51:21
10,10,Victoria,22.2855,114.1577,64.26,92,100,8.99,light rain,HK,2022-05-02 00:48:31
12,12,Paita,-5.0892,-81.1144,67.93,83,83,13.44,broken clouds,PE,2022-05-02 00:47:27
16,16,Kaitangata,-46.2817,169.8464,62.22,63,33,4.97,scattered clouds,NZ,2022-05-02 00:51:25
...,...,...,...,...,...,...,...,...,...,...,...
708,708,Mayumba,-3.4320,10.6554,77.36,93,87,4.45,light rain,GA,2022-05-02 01:12:03
712,712,Borba,-4.3878,-59.5939,74.55,97,89,2.42,overcast clouds,BR,2022-05-02 01:12:05
716,716,Dawei,14.0833,98.2000,77.25,90,100,3.53,light rain,MM,2022-05-02 01:08:08
718,718,Ushtobe,45.2514,77.9838,70.99,34,100,4.34,overcast clouds,KZ,2022-05-02 01:12:07
720,720,Meulaboh,4.1363,96.1285,77.88,87,91,3.65,light rain,ID,2022-05-02 01:12:09

In [25]:
preferred_cities_df.notnull().sum()

City_ID                297
City                   297
Lat                    297
Lng                    297
Max Temp               297
Humidity               297
Cloudiness             297
Wind Speed             297
Current Description    297
Country                297
Date                   297
dtype: int64

In [26]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Busselton,AU,65.37,broken clouds,-33.6500,115.3333,
3,Buchanan,LR,79.56,moderate rain,5.8808,-10.0467,
10,Victoria,HK,64.26,light rain,22.2855,114.1577,
12,Paita,PE,67.93,broken clouds,-5.0892,-81.1144,
16,Kaitangata,NZ,62.22,scattered clouds,-46.2817,169.8464,
17,Saint-Philippe,RE,73.22,clear sky,-21.3585,55.7679,
18,Rikitea,PF,76.59,overcast clouds,-23.1203,-134.9692,
21,Christchurch,NZ,69.94,clear sky,-43.5333,172.6333,
28,Kefalos,GR,62.82,few clouds,36.7453,26.9589,
30,Ponta Do Sol,PT,65.01,clear sky,32.6667,-17.1000,

In [27]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [28]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Busselton,AU,65.37,broken clouds,-33.6500,115.3333,Observatory Guest House
3,Buchanan,LR,79.56,moderate rain,5.8808,-10.0467,Kamaneahn Hotel Inc
10,Victoria,HK,64.26,light rain,22.2855,114.1577,Mini Hotel Central
12,Paita,PE,67.93,broken clouds,-5.0892,-81.1144,Hotel Náutico de Paita
16,Kaitangata,NZ,62.22,scattered clouds,-46.2817,169.8464,Kaitangata Motor Camp

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))